#navandheader {
  background-image: url("./Images/hero.png");
  height: 600px;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav li a {
  color: white;
}

.nav li a:hover {
  background-color: white;
  color: black;
}

.list-unstyled li a {
  color: white;
  font-size: small;
}

#header-row {
  text-align: right;
  margin: 8px 0 8px 0;
  padding: 20px;
}

#header-text {
  text-align: left justify;
  text-align: center;
  margin: 10px;
  color: white;
  margin-top: 120px;
}

#header-text h1 {
  text-align: left;
  font-size: 50px;
  line-height: 1.4;
}

#header-texts {
  text-align: center;
  margin: 10px;
  color: black;
}

#head1 {
  text-align: center;
  padding: 60px;
}

#header-button {
  text-align: left;
  margin: 10px;
}

#header-button button {
  color: red;
  padding: 4px;
  font-weight: bold;
}

#spa {
  background-color: red;
  padding-bottom: 5px;
}

#off {
  color: red;
}

/* Pricing cards */
#pricing {
  margin-top: 100px;
}

#pricing .card-group {
  width: 100%;
}

#pricing .card {
  height: 350px;
  box-shadow: 0 0 7px 0px rgb(238 5 5);
}

#pricing-cards .card:hover {
  background-color: red;
  color: white;
  position: relative;
  top: -50px;
  height: 400px;
}

#pricing-cards .card:hover button {
  background-color: white;
  border: 1px solid red;
  color: red;
}

#pricing-cards {
  background-image: url(images/pricing-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Pricing cards Ends */

#porta {
  margin: 150px 0px;
}

#header-row-offer {
  background-image: url("./Images/_Image1.png"), url(images/bg.png);
  height: 700px;
  margin-top: 50px;
  width: 100%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: inherit, center;
}

#different {
  background-image: url("./Images/diff-bg.png");
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.diff {
  text-align: center;
  padding: 50px;
  margin-top: -60px;
}

.foot {
  text-align: justify;
  padding: 50px;
}

.page-footer {
  background-color: rgb(61, 36, 36);
}

.porimage {
  margin-left: 5px;
}
